body{
    font-family: 'Roboto Mono', Courier, monospace;
    display:flex;
    flex-direction: column;
    margin: 0;
}

a,ul,li,h1,p{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin:0;
    color: white;
}
.background{
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.911),rgba(0, 0, 0, 0.685)),
        url(./assets/miti-qYreP9QOdrk-unsplash.jpg);
        background-size: cover;
}

.header{
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 80%;
        margin:auto;
        gap: 22px;
        .logo{
            font-size: 24px;
            color: #F9FAF8;
            font-weight: bold;
        }
        .links{
            font-weight: 300;
            gap: 22px;
        }
    }
}

.hero-banner{
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 448px;
        width: 80%;
        margin:100px auto;
        gap: 22px;
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            gap:10px;
            .title{ 
                color: #F9FAF8;
                font-weight: bold;
                font-size: 48px;
            }
            .subtext{
                color: #E5E7EB;
                font-size: 18px;
            }
            .button{
                background-color: rgb(206, 127, 37);
                border-radius: 8px;
                padding: 10px 48px;
                align-self: flex-start;
                font-weight: bold;
                margin-top: 22px;
            }
        }
        .image{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }
    }
}

.info-grid{
    background-color: white;
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:100px auto;
        gap: 22px;
        .title{
            color: #201a18;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .features{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            text-align: center;
            gap: 48px;
            .box{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 22px;
                .card{
                    display: flex;
                    flex-shrink: 0;
                    height: 200px;
                    width: 200px;
                }
                .subtext{
                    color: #201a18;
                    width: 200px;
                }
            }
        }
    }
}

.quote-banner{
    background-color: #dbd3cf;
    .content{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 100px auto;
        gap: 22px;
        .quote{
            font-size: 36px;
            font-style: italic;
            font-weight: 100;
            color: #503e3c;
        }
        .author{
            display: flex;
            justify-content: flex-end;
            font-size: 18px;
            font-weight: bolder;
            color: #503e3c;
            padding-right: 48px;
        }
    }
}

.cta-banner{
    background-color: white;
    .content{
        width: 80%;
        margin: auto;
        .cta-bar{
            background-color: rgb(206, 127, 37);
            padding: 48px 100px;
            margin: 100px auto;
            display: flex;
            justify-content:space-between;
            align-items: center;
            flex-wrap: wrap;
            border-radius: 8px;
            box-shadow: 
                0 10px 20px rgba(0, 0, 0, 0.164),
                0 2px 5px rgba(0, 0, 0, 0.26);
            gap: 64px;
            .description{
                flex: 2;
                .title{font-size: 18px;}
                color: white;
            }
            .button{
                flex: 1;
                border: 1px solid white;
                background-color: rgb(206, 127, 37);
                color: white;
                border-radius: 8px;
                padding: 10px 24px;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}

.footer{
    background-color: #201a18;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}